	body,
		html {
			margin: 0;
			padding: 0;
			height: 100%;
			background: #424D60 !important;
		}
		.user_card {
			height: 420px;
			width: 420px;
			margin-top: auto;
			margin-bottom: auto;
			background: #1F2A3D;;
			position: relative;
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding: 10px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			border-radius: 6px;

		}
		.brand_logo_container {
			position: absolute;
			height: 170px;
			width: 170px;
			top: -75px;
			border-radius: 50%;
			background: #424D60;
			padding: 10px;
			text-align: center !important;
			left: 29%;
		}
		.brand_logo {
			height: 150px;
			width: 150px;
			border-radius: 50%;
			border: 2px solid white;
		}
		.form_container {
			margin-top: 80px;
		}
		.login_btn {
			width: 90%;
			background: #3c96d2 !important;
			color: white !important;
			margin-top: 20px;
		}
		.login_btn:hover {
			width: 90%;
			background: #5fb7f1 !important;
			color: white !important;
		}
		.login_btn:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
		.login_container {
			padding: 0 2rem;
		}
		.input-group-text {
			background: #3c96d2  !important;
			color: white !important;
			border: 0 !important;
			border-radius: 0.25rem 0 0 0.25rem !important;
		}
		.input_user,
		.input_pass:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
		.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
			background-color: #4d4d4d !important;
		}
a {
    color: white;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
.error {
	color: #ff4444;
}
input.form-control {
	border-radius: unset;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.alert {
	top: 50px;
	margin-top: 10px;
	margin-bottom: 0px;
}
.btn-align {
	padding-left: 1.2rem;
	padding-right: 1.2rem;
}
.login_container {
	margin-top: 13px;
}
